@tailwind base;
@tailwind components;
@tailwind utilities;

/* .links-l {
  @apply bg-white text-black font-light desktop:text-2xl tablet:text-xl px-4 py-2 -mb-2 rounded mobile:ml-4 hover:bg-gray-100 duration-500 border border-gray-100 flex justify-end items-center;
}

.nav-link {
  @apply tablet:font-thin mobile:font-extralight mobile:text-3xl mobile:pt-4 tablet:text-xl desktop:text-2xl;
}

.links-user {
  @apply block px-4 py-2 font-normal mobile:font-extralight mobile:text-2xl mobile:pt-4 tablet:text-xl;
} */

.nav-link {
  @apply tablet:font-thin mobile:font-extralight mobile:text-3xl mobile:pt-4 tablet:text-xl desktop:text-2xl pl-5;
}

.icon-profile-edit {
  @apply stroke-slate-500;
}

@layer base {
  html {
    font-family: "EB Garamond", serif;
    background-color: white;
  }

  .hidden {
    display: none;
  }

  .display {
    display: inline !important;
  }
}
